{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    
    <div class="row">
        <div class="col-4" style="margin: auto;">
            <h1>login page</h1>
            <form method="post">
                {% csrf_token %}
                {{ login_form | crispy }}
                <button class="btn btn-outline-primary"  type="submit">Log in</button>
                <span class="ms-3">No account click here <a href="{% url 'users:register' %}" style="text-decoration: none;">register now</a></span>
            </form>
        </div>
    </div>
    
{% endblock %}