{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}
    
{% block content %}

    <div class="row">
        <div class="col-4" style="margin: auto;">
            <h1>Register Page</h1>
            <form method="post" action="{% url 'users:register' %}">
                {% csrf_token %}
                {{ form | crispy }}
            <button class="btn btn-outline-success" type="submit">Submit</button>
        </form>
        </div>
    </div>


    
{% endblock %}